// https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html
binds {
		// Applications
		Mod+B hotkey-overlay-title="Browser" { spawn "librewolf"; }
		Mod+E hotkey-overlay-title="File explorer" { spawn "nautilus"; }
    Mod+T hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+C repeat=false { close-window; }

		// Noctalia
		Mod+Return repeat=false hotkey-overlay-title="Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
		Mod+Comma hotkey-overlay-title="Settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
		Mod+Delete hotkey-overlay-title="Power menu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
		Mod+S repeat=false hotkey-overlay-title="Control center" { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
		Mod+V hotkey-overlay-title="Clipboard" { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
		Mod+L hotkey-overlay-title="Lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
		Mod+Shift+E hotkey-overlay-title="Clipboard" { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }

		// Audio management
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }

		// Media controls
    XF86AudioPlay allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media play"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media pause"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }

		// Network and connectivity
		Mod+N repeat=false { spawn-sh "qs -c noctalia-shell ipc call network togglePanel"; }
		XF86RFKill repeat=false { spawn-sh "qs -c noctalia-shell ipc call airplaneMode toggle"; }

		// Brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }
		Mod+XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
		Mod+XF86AudioLowerVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

		// Plugins
		Mod+Shift+Slash { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel keybind-cheatsheet"; }
		Mod+Shift+C { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel noctalia-calculator"; }
		Mod+Shift+H { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel hassio"; }
		Mod+Shift+M { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel monique"; }
		Mod+Shift+S { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel syncthing-status"; }
		Mod+Shift+T { spawn-sh "qs -c noctalia-shell ipc call plugin togglePanel tailscale"; }

		// Window management
    Mod+Tab repeat=false { toggle-overview; }

    Mod+Up { focus-window-or-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Up { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Down { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+Shift+Up { move-workspace-up; }
    Mod+Shift+Down { move-workspace-down; }

    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }

    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+M { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+O { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
