// Startup services
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "nm-applet"
spawn-at-startup "openrgb" "--startminimized"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "syncthing" "--no-browser"

// Misc
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"
hotkey-overlay {
		skip-at-startup
}

// Environment variables
environment {
		QS_ICON_THEME "Papirus-Dark"
}

// https://niri-wm.github.io/niri/Configuration%3A-Input.html
input {
    touchpad {
        tap
				dwt
        natural-scroll
    }

    mouse {
        accel-speed -0.2
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

// https://niri-wm.github.io/niri/Configuration%3A-Outputs.html
// https://niri-wm.github.io/niri/Configuration%3A-Layout.html
layout {
    gaps 8
    center-focused-column "never"
		always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {
				proportion 0.5
		}

    focus-ring {
        off
    }

    border {
        width 2
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=0
    }
}

// https://niri-wm.github.io/niri/Configuration%3A-Recent-Windows.html
recent-windows {
		highlight {
				corner-radius 8
		}
}

// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#blur
blur {
  passes 2
  offset 3.0
  noise 0.03
  saturation 1.0
}

// https://niri-wm.github.io/niri/Configuration%3A-Window-Rules.html
window-rule {
		geometry-corner-radius 8
		clip-to-geometry true
		background-effect {
    		blur true
    		xray false
  	}
}

// https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules.html
layer-rule {
  	match namespace="^noctalia-overview*"
  	place-within-backdrop true
}
layer-rule {
  	match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  	background-effect {
    		xray false
  	}
}

// https://niri-wm.github.io/niri/Configuration%3A-Gestures.html
gestures {
    hot-corners {
        off
    }
}

// https://docs.noctalia.dev/v4/getting-started/compositor-settings/niri/
debug {
  honor-xdg-activation-with-invalid-serial
}

// Include other config files
include "binds.kdl"
include "noctalia.kdl"
